<div class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
        <label>{{localize "Name"}} </label>
        <div class="form-fields">
            <input type="text" name="tokenName" value="{{object.tokenName}}" placeholder="Token Name" />
        </div>
    </div>
    <div class="form-group slim">
        <label>{{localize "Coordinates"}} <span class="units">({{localize "Pixels"}})</span></label>
        <div class="form-fields">
            <label>{{localize "DOCUMENT.FIELDS.x.label"}}</label>
            {{numberInput fields.x name="x" value="{{object.x}}" id=(concat rootId "-x")
            placeholder=(localize "Pixels")}}
            <label>{{localize "DOCUMENT.FIELDS.y.label"}}</label>
            {{numberInput fields.y name="y" value="{{object.y}}" id=(concat rootId "-y")
            placeholder=(localize "Pixels")}}
        </div>
    </div>
    <div class="form-group slim">
        <label>{{localize "Elevation"}} <span class="units">({{gridUnits}})</span></label>
        <div class="form-fields">
            {{numberInput fields.elevation name="elevation" value="{{object.elevation}}" placeholder="0" units=gridUnits
            step="any"}}
        </div>
    </div>
    <div class="form-group slim">
        <label>{{localize "Sort"}}</label>
        <div class="form-fields">
            {{numberInput fields.sort name="sort" value="{{object.sort}}" placeholder="0"}}
        </div>
    </div>
    <div class="form-group slim">
        <label>{{localize "Elevation"}} <span class="units">({{localize "Degrees"}})</span></label>
        <div class="form-fields">
            {{numberInput fields.rotation name="rotation" value="{{object.rotation}}" placeholder="0"}}
        </div>
    </div>
    <div class="form-group slim">
        <label>{{localize "TOKEN.FIELDS.movementAction.label"}} </label>
        <div class="form-fields">
            <select name="movementAction">
                {{selectOptions movementActions selected=object.movementAction blank="" localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group slim">
        <label>{{localize "TOKEN.FIELDS.occludable.radius.label"}} <span class="units">({{gridUnits}})</span></label>
        <div class="form-fields">
            {{numberInput fields.occludable.fields.radius name="occludable.radius" value="{{object.occludable.radius}}"
            placeholder="0" units=gridUnits
            step="any"}}
        </div>
        <p class="hint">{{localize "TOKEN.FIELDS.occludable.radius.hint"}}</p>
    </div>
    <div class="form-group slim">
        <label>{{localize "TOKEN.FIELDS.disposition.label"}} </label>
        <div class="form-fields">
            <select name="disposition">
                {{selectOptions dispositions selected=object.disposition blank="" localize=true}}
            </select>
        </div>
    </div>
</div>