<div class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <fieldset>
        <legend>{{localize "TOKEN.TURNMARKER.SHEET.legend"}}</legend>
        {{formGroup fields.turnMarker.fields.mode value=source.turnMarker.mode choices=turnMarkerModes}}
        {{formGroup fields.turnMarker.fields.animation value=source.turnMarker.animation options=turnMarkerAnimations
            blank=""}}
        {{formGroup fields.turnMarker.fields.src value=source.turnMarker.src}}
        {{formGroup fields.turnMarker.fields.disposition value=source.turnMarker.disposition}}
    </fieldset>
</div>
