<div class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{formGroup fields.displayBars value=source.displayBars choices=displayModes rootId=rootId localize=true}}
    {{formGroup fields.bar1.fields.attribute value=source.bar1.attribute choices=barAttributes blank=(localize "None")
        labelAttr="label" valueAttr="value" rootId=rootId}}
    {{#unless isDefault}}
    <div class="form-group slim">
        <label>{{localize "TOKEN.ResourceBar1D"}}</label>
        <div class="form-fields bar-data">
            <input type="number" value="{{bar1.value}}" data-bar1-value disabled>
            <span class="sep">/</span>
            <input type="number" value="{{bar1.max}}" data-bar1-max disabled>
        </div>
    </div>
    {{/unless}}
    {{formGroup fields.bar2.fields.attribute choices=barAttributes value=source.bar2.attribute blank=(localize "None")
        labelAttr="label" valueAttr="value" rootId=rootId}}
    {{#unless isDefault}}
    <div class="form-group slim">
        <label>{{localize "TOKEN.ResourceBar2D"}}</label>
        <div class="form-fields bar-data">
            <input type="number" value="{{bar2.value}}" data-bar2-value disabled>
            <span class="sep">/</span>
            <input type="number" value="{{bar2.max}}" data-bar2-value disabled>
        </div>
    </div>
    {{/unless}}

    <fieldset>
        <legend>{{localize "TOKEN.TURNMARKER.SHEET.legend"}}</legend>
        {{formGroup fields.turnMarker.fields.mode value=source.turnMarker.mode choices=turnMarkerModes}}
        {{formGroup fields.turnMarker.fields.animation value=source.turnMarker.animation options=turnMarkerAnimations
            blank=""}}
        {{formGroup fields.turnMarker.fields.src value=source.turnMarker.src}}
        {{formGroup fields.turnMarker.fields.disposition value=source.turnMarker.disposition}}
    </fieldset>
</div>
